# Python
__pycache__/
*.py[cod]
*.pyo

# Python virtual environment
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Node
node_modules/

# Build files
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db